@model ICollection<Ecommerce_WebSite_Clothes_Electronics_Jawlary_.Models.Product>
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="fashion_section">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="fashion_section_2">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-4 col-sm-4">
                                    <div class="box_main">
                                        <h4 class="shirt_text">@item.Name</h4>
                                        <p class="price_text"> Category : <span style="color: #262626;">@item.Category.Name</span></p>
                                        <div class="tshirt_img"><img src="@string.Format("/Images/{0}", @item.ProductImage)"></div>
                                        <p class="price_text">
                                            Price :  <span style="color: #262626;">@item.Price</span>
                                        </p>
                                    </div>
                                </div>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fashion section end -->
